@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 9, 9, 11;
  /* Zinc 950 */
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  min-height: 100vh;
  /* Uma fonte mais limpa ajuda muito no design */
  font-family: 'Inter', system-ui, sans-serif;
}

.line-through {
  text-decoration-thickness: 2px;
  text-decoration-color: rgba(168, 85, 247, 0.4);
}